@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
   
    max-width: 1200px;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

header {
    
    width: 300px;
    position: fixed;
    top: 25px;
    left: 25px;
    text-align: center;
}

h3 {
    background-color: coral;
    width: 300px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
}
p {
    text-align: center;
}

nav {
    background-color: coral;
    text-align: center;
    width: 300px;
    position: fixed;
    top: 250px;
    left: 25px;
    border-radius: 25%;
}

a {
    text-decoration: none;
    color: honeydew;
}

nav h5:hover {
    background-color: lightsteelblue;
}

header:hover {
    background-color: honeydew;
}

main {
    
    width: 550px;
    margin-left: 500px;
}

section {
    background-color: lightsteelblue;
    border: 1px darkblue solid;
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
}

section img {
    
    background-color: dimgray;
    border: 1px darkblue solid;
    padding: 10px;
    border-radius: 25px;
}

img:hover {
    background-color: honeydew;
}

footer {
    background-color: coral;
    width: 300px;
    text-align: center;
    position: fixed;
    bottom: 25px;
    left: 25px;
    border-radius: 25px;
}

#splashgif {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 25%;
}

#splashgif img:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
   
}