@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Staatliches&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Major+Mono+Display&family=Staatliches&family=Tilt+Prism&display=swap');

body {
    background-image: url(../img/green\ and\ yellow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   background-color: lightcyan ;
    max-width: 1200px;
    margin: auto;
    font-family: 'Staatliches', cursive;
}

header {
    
    width: 300px;
    position: fixed;
    top: 25px;
    left: 25px;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    background-color: coral;
    width: 300px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
}
p {
    text-align: center;
}

nav {
    background-color: coral;
    text-align: center;
    width: 300px;
    position: fixed;
    top: 225px;
    left: 25px;
    border-radius: 25px;
}

a {
    text-decoration: none;
    color: honeydew;
}

nav h5:hover {
    background-color: lightsteelblue;
}

header:hover {
    background-color: lightcyan;
}

main {
    
    width: 550px;
    margin-left: 500px;
}

section {
    font-family: 'Allerta Stencil', sans-serif;
    background-color: lightblue;
    border: 5px coral double;
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
}

section img {
    background-color:dimgray;
    border: 1px yellowgreen solid;
    padding: 10px;
    border-radius: 25px;
}

section img:hover {
    background-color: yellowgreen;
}


footer {
    background-color: coral;
    width: 300px;
    text-align: center;
    position: fixed;
    bottom: 5px;
    left: 25px;
    border-radius: 25px;
}

#splashgif {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 25%;
}

#splashgif img:hover {
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
   
}